#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
}

#text-box{
    font-size: 18px;
}

#typing-area{
    margin: 24px;
    padding: 8px;
    font-size: 14px;
    width: 420px;
    height: 120px;
}

#feedback{
    color:red;
    font-size: 42px;
    
}

#timer{
    color: indigo;
    font-size: 24px;
    font-weight: bold;
}

.highlight{
    color: blue;
    font-weight: bold;
}

.incorrect{
    color: red;
    font-weight: bold;
}

.correct {
    color: green;
    font-weight: bold;
}
